.App {
    text-align: center;
    background-image: url("https://b.kisscc0.com/20180517/jje/kisscc0-scottish-highlands-flag-of-scotland-blog-desktop-w-nature-5afd643e2dacf4.7030319515265557101871.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 41em;
}

.clockBlock {
    font-size: 9em;
    font-weight: bold;
    padding-top: 1em;
    color: aliceblue;
}

.focusBlock {
    padding-top: 4em;
}

.focusToday {
    color: aliceblue;
    font-size: 1em;
    padding-top: 5%;
    margin-bottom: 0;
}

.focusQuestion, .focusMain {
    color: aliceblue;
    font-size: 1.5em;
}

.sayHelloBlock {
    font-size: 3em;
    color: aliceblue;
}

.form-input {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: #cccccc solid 2px;
    border-radius: 7px;
    width: 30%;
    color: #cccccc;
}

.start {
    padding-top: 13em;
}

#listWindow {
    z-index: unset;
    position: absolute;
    right: 10px;
    bottom: 15px;

}

.todoButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#root {
    position: relative;
}

.form-todo {
    width: 10em;
    color: black;
}
.toDoList{
    max-height: 20em;
    overflow: auto;

}